
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- 링크 아이콘 -->
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
  <!-- 팀원 CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/DK.css">
  <link rel="stylesheet" type="text/css" href="../static/css/BC.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--배너 영어 폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital@1&display=swap" rel="stylesheet">
  <!--메뉴 영어 폰트-->
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+Display:ital@1&display=swap" rel="stylesheet">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- OG 태그-->
  <title>WeatherLOOK</title>
  <meta property="og:title" content="WeatherLook" />
  <meta property="og:description" content="오늘의 날씨와 딱 맞는옷은?" />
  <meta property="og:image" content="{{ url_for('static', filename='w7.jpg') }}" />    

  <!-- 타이틀 -->
  <title>WeatherLOOK</title>
</head>

<body>



  <!-- 네비게이션바 -->
  <div class="wrap">
    <div style="margin-top: 10px"></div>
    <!-- 최상단 로고 및 메뉴-->
    <div class="intro">
      <div class="logo"><a href="/"><img src="../static/logo06.jpg"></a></div>
      <div class="header">
        <ul class="nav">
          <li><a href="/About" class="menu_font">ABOUT US</a></li>
        </ul>
        <div class="dropdown_dk">
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle menu_font" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  line-height: 55px;">SEASON LOOK
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Footer -->
  <footer>
    <div class="main_footer">
      <p style="text-align:center;margin: 0;font-size: 0.8rem;line-height: 20px;padding: 35px;background: #333;color: #fff;">Copyright by 메이킹챌린지 5조 <br> Thanks to 스파르타 코딩 클럽 </p>
    </div>
  </footer>

  </div>
</body>

</html>
